body {
    font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 34px;
	background: url("images/new.jpg")
}
p{
    color:#fff;
}

h1 {
	font-size: 40px;
	color:#fff;
	margin: 5px 0px 5px;
	padding: 10px;
}

h2 {
	font-size: 30px;
}

.container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}

.web-title {
	padding: 0;x
	margin-top: 20px;
}

.web-title h1 {
	color: #333;
}

.web-title h2 {
	color: #888;
	font-size: 16px;
	padding-top: 20px;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.main-menu {
	margin-top: 20px;
	margin-bottom: 0px;
}

a h1{
    margin-top: 20px;
    font-size:30px;
}

a h1:hover {
  text-shadow: 2px 2px 4px red;


}
#logo{
    text-decoration:none;
}

.navbar {
	float: right;
	padding: 0 !important;
	margin-bottom: 10px !important;

}

.nav-link {
	padding: 10px 10px;
	font-size: 18px;
	margin-bottom: 10px;
}

.web-home h1 {
	font-size: 48px;
}
.web-home p {
	font-size: 24px;
	color: #FFF;
	line-height: 44px;
}
.web-home {
	padding: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	background: url("images/hyu.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	border-bottom: 1px solid #fff;
}

.web-content {
	padding: 60px 40px;

	border-bottom: 1px solid #fff;
	min-height: 280px;
}

.web-section-header {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 80px;
	background: url("new/hyu.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 1px solid #fff;
}


.web-home p, .web-content p, .web-section-header p {
	padding: 20px 0 0 0;
}

.web-content p{
    color: black;
}

#text{
    margin-top: 20px;
    color: black;
    margin-bottom: 0px;
    padding: 5px;
}

#abo{
    color: black;
}


@media (max-width:1330px) {
	body {
		font-size: 16px;
		line-height: 28px;
	}
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 24px;
	}
	.web-title h2 {
		font-size: 14px;
		padding-top: 10px;
	}
	.web-content {
		padding: 30px 20px;
		min-height: 200px;
	}
	.web-home h1 {
		font-size: 40px;
	}
	.web-home p {
		font-size: 18px;
		line-height: 36px;
	}
}


@media (max-width:990px) {
	.main-menu {
		margin: 0px;
	}
}

@media (max-width:768px) {
	.nav-link {
		padding: 0px 0px;
		font-size: 16px;
	}
	.web-home h1 {
		font-size: 30px;
	}
	.web-home p {
		font-size: 16px;
		line-height: 28px;
	}
	.web-content {
		padding: 20px;
		min-height: 100px;
	}
}
